<% device.options.forEach((option)=> { %> 

          <% if(option=='status') {%>

                    <!-- Status -->
                    <label class='text-dark form label' for='deviceStatus'>Device status</label>
                    <div class="form-check">
                              <input class="form-check-input" type="radio" name="deviceStatus" id="deviceOn" value="1">
                              <label class="form-check-label" for="flexRadioDefault1">
                                        On
                              </label>
                    </div>
          <% } %>
          <% }) %> 
          <h1>test</h1> 



