<div class='col-lg'>
<form id="registerDevice" method='post' name="registerDevice" action='registerDevice'>
        

          <!-- Device name -->
                   <script>var availableDevices= '<%- availableDevices %>' </script>
                    <label class='form-label text-dark' for='deviceName'>Device</label>
                    <select onclick='test2(event,availableDevices)' id="selectDeviceName" name='deviceName' class="form-select form-select-md mb-3">
                              <% availableDevices.forEach((device,index) =>  { %>
                                        <option id="<%= index %>"><%= device.name %></option>
                                        
                              <% }) %>
                    
                    </select>
                   
          <!-- Status -->
                    <label class='text-dark form label' for='deviceStatus'>Device status</label>
                    <div class="form-check">
                              <input class="form-check-input" type="radio" name="deviceStatus" id="deviceOn" value="1" >
                              <label class="form-check-label" for="flexRadioDefault1">
                                        On
                              </label>
                    </div>
                    <div class="form-check">
                              <input class="form-check-input" type="radio" name="deviceStatus" id="deviceOff" value="0" checked>
                              <label class="form-check-label" for="flexRadioDefault2">
                                        Off
                              </label>
                    </div>

                  
          <!-- Condition -->
                    <label for="deviceCondition">Device condition</label>
                    <select id="deviceCondition" name="deviceCondition" class="form-select" size="3" aria-label="size 3 select">
                              <option selected>Operational</option>
                              <option value="1">Remote</option>
                              <option value="2">Disconnected</option>
                              <option value="3">Hidden</option>
                    </select>
          <!-- Temperature -->
                    <label class="form-label">Temperature</label>
                    <input disabled type="text" id="deviceTemperature" name="deviceTemperature" defaultValue="">
                    
<!-- Volume -->
                    <div id="volumeContainer">
                    <label class='form-label text-dark' for='deviceVolume'>Volume</label>
                    <input disabled id="deviceVolume"type="range" min="0" max="100" step="1" defaultValue="0"value=""name="deviceVolume">
                              <span id="volumeValueContainer">0</span>
                    </div>
   
                    <div id="error"></div>
          <button form="registerDevice" onClick="validateRegisterForm()" class="btn btn-submit" type="button">Submit</button>
</form>


<% if(content.error) {%>
          <script>window.alert('error')</script> 
<% } %>
</div>
