<script>

const optionAssets = '<%- JSON.stringify(optionAssets) %>'
const deviceAssets = '<%- JSON.stringify(deviceAssets) %>'

const devicesLoaded = new CustomEvent('devicesLoaded', { optionAssets: optionAssets, deviceAssets: deviceAssets })

console.log(devicesLoaded)
addEventListener('DOMContentLoaded',eventHandler.bind(this,optionAssets,deviceAssets),{'once':true})
</script>
<div class='col'>
          <div class='row'>

                    <div class=col-12>
                    <div class="accordion" id="accordionBase">
                    
                    <%if(devices.length){%>
                    <% devices.forEach((device) => { %>
                              <%- include('deviceListItem', {deviceProp: device}) %>
                    <% }) %>
                    <% } %>
                    
                    </div>
                    </div>
          </div>
          </div>
       
</div>

<script>
          // document.getElementById('accordionBase').addEventListener('devicesLoaded', getDeviceListings)
</script>

