<script>
addEventListener('DOMContentLoaded',eventHandler,{'once':true})
</script>

          <div class='row'>

                    <div class=col-12>
                    <div class="accordion" id="accordionExample">
                    
          <%if(devices.length){%>
                    <% devices.forEach((device) => { %>
                              <%- include('deviceListItem', {deviceProp: device}) %>
                    <% }) %>
                    <% } %>
                    
                    </div>
                    </div>
          </div>
          </div>
       

<script>
          var optionAssets = '<%- JSON.stringify(optionAssets) %>'
          var deviceAssets = '<%- JSON.stringify(deviceAssets) %>'
</script>


