<script>
addEventListener('DOMContentLoaded',eventHandler,{'once':true})
</script>
<div class='col-12'>
          <div class='row'>

          
                    <div class="accordion" id="accordionExample">
                    <div class='col-6'>
          <%if(devices.length){%>
                    <% devices.forEach((device) => { %>
                              <%- include('deviceListItem', {deviceProp: device}) %>
                    <% }) %>
                    <% } %>
                    </div>
                    </div>
          </div>
          </div>
       
</div>
<script>
          var optionAssets = '<%- JSON.stringify(optionAssets) %>'
          var deviceAssets = '<%- JSON.stringify(deviceAssets) %>'
</script>


