<div class="d-flex flex-column  bg-light" style="width: 4.5rem; height: auto">
          <a href="/" class="d-block p-3 link-dark text-decoration-none" title="" data-bs-toggle="tooltip"
                    data-bs-placement="right" data-bs-original-title="Icon-only">
                    Home
          </a>
          <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
                    <li class="nav-item">
                              <a href="/devices" class="nav-link py-3 border-bottom" aria-current="page" title=""
                                        data-bs-toggle="tooltip" data-bs-placement="right"
                                        data-bs-original-title="Home">
                                        Devices
                              </a>
                    </li>
                    <li>
                              <a href="/addDevice" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip"
                                        data-bs-placement="right" data-bs-original-title="Dashboard">
                                        Add device
                              </a>
                    </li>
                    <li>
                              <a href="/delDevice" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip"
                                        data-bs-placement="right" data-bs-original-title="Orders">
                                        Delete Device
                              </a>
                    </li>
                    <li>
                              <a href="/updDevice" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip"
                                        data-bs-placement="right" data-bs-original-title="Products">
                                        Update Device
                              </a>
                    </li>
                    <li>
                              <a href="/about" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip"
                                        data-bs-placement="right" data-bs-original-title="about">
                                        About
                              </a>
                    </li>
                    
          </ul>

</div>